<img src="/assets/img/icon.png" alt="logo" class="sidebar-logo ml16 mb20">
<div class="sidebar__header" *ngIf="profile">
    <img class="profile-image" [src]="profile.image | imgUrl" [alt]="profile.lastName">
    <div class="profile-username">
      {{ profile.username }}
    </div>
</div>

<nav>
  <ul class="main-menu-list">
    <li *ngFor="let menuItem of menuItems">
      <button class="menu-item" [routerLink]="[menuItem.link]" (click)="menuItem.label === 'Logout' ? onLogout() : null">
        <svg [icon]="menuItem.icon" class="menu-item-svg"></svg>
        <span>{{ menuItem.label }}</span>
      </button>
    </li>
  </ul>
</nav>

<div class="following">
  <p class="following-title mb20">Following</p>
  <div class="following-list">
    <app-following-card
      *ngFor="let follow of (following$ | async)"
      [profile]="follow">
    </app-following-card>
  </div>
</div>
