<img [routerLink]="['']" src="/assets/img/icon.png" alt="logo" class="sidebar__logo">
<div class="sidebar__header" *ngIf="profile" [routerLink]="['profile']">
  <img class="sidebar__profile-image" [src]="profile.image | imgUrl" [alt]="profile.lastName || 'No Last Name'">
  <div class="sidebar__profile-username">
    {{ profile.username }}
  </div>
</div>

<nav class="sidebar__menu">
  <ul class="menu__list">
    <li class="menu__item" *ngFor="let menuItem of menuItems">
      <button class="menu__button"
              [routerLink]="menuItem.link ? [menuItem.link] : null"
              (click)="menuItem.action ? menuItem.action() : null">
        <svg [icon]="menuItem.icon" class="menu__icon"></svg>
        <span class="menu__label">{{ menuItem.label }}</span>
      </button>
    </li>
  </ul>
</nav>

<div class="sidebar__following">
  <p class="sidebar__following-title">Following</p>
  <div *ngIf="(following$ | async)?.length; else noFollowing" class="sidebar__following-list">
    <app-following-card
      *ngFor="let follow of (following$ | async)"
      [profile]="follow">
    </app-following-card>
  </div>
  <ng-template #noFollowing>
    <p class="sidebar__no-following">You are not following anyone yet.</p>
  </ng-template>
</div>
