.modal {
  position: absolute;
  z-index: 49;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #3b3b54;
  padding: 16px 36px 34px 36px;
  border-radius: 30px;
}

.close-modal-wrapper {
  display: flex;
  justify-content: flex-end;
}

.close-modal {
  cursor: pointer;
  width: 24px;
}

.close-modal svg{
  fill: var(--gray-color)
}

.modal p {
  font-size: 13px;
  margin-left: 6px;
  margin-bottom: 22px;
}

.control-input--description {
  max-height: 110px;
}

.modal-title {
  margin-bottom: 12px;
}

.hobby-wrapper {
  max-width: 360px;
  width: 100%;
}

.hobby {
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--gray-color);
  max-width: 160px;
  padding: 5px 10px;
  margin: 7px;
  border-radius: 20px;
}

.btn-add-hobby {
  background-color: var(--primary-color);
  color: var(--main-text-color);
  border: none;
  border-radius: 12px;
  padding: 8px 14px;
  transform: translateY(-50%);
  margin-top: 12px;
}

.btn-remove-hobby {
  all: unset;
  cursor: pointer;
}

.photo-preview {
  max-width: 120px;
  width: 100%;
  margin: 14px 10px;
}

.modal-photo-wrapper {
  display: flex;
  flex-direction: column;
  margin: 12px 0 20px 0;
}
