<div class="my-profile mt60" *ngIf="myProfile$ | async as profile; else loading">
  <h1 class="h1 mb60">My Profile</h1>
  <form class="my-profile-form" [formGroup]="form" (ngSubmit)="saveChanges()">
    <img class="profile-image" [src]="profile.image | imgUrl" [alt]="profile?.lastName">

    <label for="firstName" class="control-label">
      First Name
      <input id="firstName" formControlName="firstName" class="control-input my-profile-input mb16" type="text">
    </label>

    <label for="lastName" class="control-label">
      Last Name
      <input id="lastName" formControlName="lastName" class="control-input my-profile-input mb16" type="text">
    </label>

    <label for="description" class="control-label">
      Description
      <textarea id="description" formControlName="description" rows="2"
                class="control-input my-profile-input control-input--description mb16">
      </textarea>
    </label>

    <label class="control-label">
      Hobbies
      <div class="hobby-wrapper my-profile-input">
        <span *ngFor="let hob of hobbies.controls; let i = index" class="hobby">
          {{ hob.value }}
          <button type="button" class="btn-remove-hobby" (click)="removeHobby(i)">Х</button>
        </span>
      </div>
      <input #hobbyInput class="control-input control-input--hobby my-profile-input" type="text" placeholder="Add a hobby">
      <button type="button" class="btn-add-hobby" (click)="addHobby(hobbyInput)">Add</button>
    </label>
    <p class="my-profile-successfully" *ngIf="isSuccessfully()">Your profile was updated</p>
    <p class="my-profile-invalid" *ngIf="getFormError()">Invalid data</p>
    <button type="submit" [disabled]="form.invalid" class="btn-shadow btn">Save Changes</button>
  </form>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
