<div class="modal">
  <div class="close-modal-wrapper">
    <div class="close-modal" (click)="closeModal()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
           viewBox="0 0 122.878 122.88">
        <g><path d="M1.426,8.313c-1.901-1.901-1.901-4.984,0-6.886c1.901-1.902,4.984-1.902,6.886,0l53.127,53.127l53.127-53.127 c1.901-1.902,4.984-1.902,6.887,0c1.901,1.901,1.901,4.985,0,6.886L68.324,61.439l53.128,53.128c1.901,1.901,1.901,4.984,0,6.886 c-1.902,1.902-4.985,1.902-6.887,0L61.438,68.326L8.312,121.453c-1.901,1.902-4.984,1.902-6.886,0 c-1.901-1.901-1.901-4.984,0-6.886l53.127-53.128L1.426,8.313L1.426,8.313z"/>
        </g>
      </svg>
    </div>
  </div>
  <div *ngIf="receiver" class="modal-friend-info">
    <img [src]="receiver.image | imgUrl" alt="{{receiver.username}}" class="modal-friend-info__image">
    <span class="modal-friend-info__name">{{ receiver.firstName }} {{ receiver.lastName }}</span>
    <p class="modal-friend-info__description">
      {{ receiver.description }}
    </p>
    <div class="modal-friend-info__hobby">
      <span *ngFor="let hobby of receiver.hobby; let i = index" class="hobby">
        {{ hobby }}
      </span>
    </div>
  </div>
</div>
