<form [formGroup]="searchForm">
  <div class="search">
    <label for="search" class="control-label">
      <input id="search" class="search-input"
             formControlName="search"
             placeholder="Search...">
    </label>

    <div class="profile-card__wrapper mt32" *ngIf="(filteredProfiles$ | async) as profiles">
      <ng-container *ngIf="profiles.length > 0; else noResults">
        <app-profile-card *ngFor="let profile of profiles"
                          [myProfile$]="myProfile$"
                          [followingIds]="(followingIds$ | async) || []"
                          [profile]="profile">
        </app-profile-card>
      </ng-container>
    </div>

    <ng-template #noResults>
      <p class="not-found">No profiles found.</p>
    </ng-template>
  </div>
</form>
