<p class="my-message__date">
  {{formatDate(message.updatedAt)}}
</p>
<div class="my-message__wrapper">
  <div class="my-message__content">
    <div class="my-message__group">
      <p class="my-message__text">
        {{message.text}}
      </p>
      <div (click)="onDelete()" class="my-message__delete-button">
        <svg
          fill="none"
          height="18"
          stroke="currentColor"
          viewBox="0 0 53 53"
          width="20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4v-24h-24v24zm26-30h-7l-2-2h-10l-2 2h-7v4h28v-4z"
          />
        </svg>
      </div>
      <div (click)="onEdit()" class="my-message__edit-button">
        <svg
          fill="none"
          height="16"
          stroke="currentColor"
          viewBox="0 0 24 24"
          width="18"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" />
          <path
            d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
